@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: Alumni Sans;
  src: url(../fonts/AlumniSans-Regular.ttf);
}

@font-face {
  font-family: Seldom Scene;
  src: url(../fonts/SeldomScene.ttf);
}

@font-face {
  font-family: Tektur;
  src: url(../fonts/Tektur.ttf);
}

html {
  font-size: 0.04vh;
  overscroll-behavior-y: none;
  user-select: none;
  -webkit-user-select: none;
}

body {
  margin: 0;
  font-family: Alumni Sans;
  overscroll-behavior-y: none;
  background: rgba(188, 235, 255, 1);
  user-select: none;
  -webkit-user-select: none;
}

.conversationContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 35rem;
  padding-right: 35rem;
}

hr {
  border: 11rem solid;
  border-color: rgba(115, 183, 255, 1);
}

.rowify {
  display: flex;
  flex-direction: row;
}

.p36 {
  font-size: 36rem;
}

.p48 {
  font-size: 48rem;
}

.p64 {
  font-size: 64rem;
}

.p96 {
  font-size: 96rem;
}

.seldomFont {
  font-family: Seldom Scene;
}

.alumniFont {
  font-family: Alumni Sans;
}

.tekturFont {
  font-family: Tektur;
  font-weight: 600;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.width100 {
  width: 100%;
}

.centerTitle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.customScroll::-webkit-scrollbar {
  width: 0;
}

.rebringText {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

@media (min-width: 50rem) {
  .App {
    margin: auto;
    width: 1500rem;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .signUp {
    position: absolute;
    width: calc(100% + 1px);
  }

  .sidebar {
    position: absolute;
    transform: translateX(-100%);
    left: -1px;
    height: 100%;
  }
}
