.privateEyes {
  height: 393rem;
}

.eyes-container {
  display: flex;
  gap: 60rem;
  justify-content: center;
  align-items: center;
}

.eye {
  width: 350rem;
  height: 350rem;
  position: relative;

  border-radius: 50%;
  border: 22rem solid rgba(0, 81, 255, 1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupil {
  width: 100rem;
  height: 100rem;
  position: absolute;
  background-color: rgba(0, 81, 255, 1);
  border-radius: 50%;
  transition: transform 0.2s ease-out;
}
