.startSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: rgba(188, 235, 255, 1);

  color: rgba(0, 81, 255, 1);
  overflow: hidden;
}

.startLogo {
  width: 80%;
}

.arrow {
  height: 128rem;
  margin-right: 50rem;
}

@keyframes movingTitle {
  0% {
    transform: translate(0px);
  }

  100% {
    transform: translate(200rem);
  }
}

.movedTitle {
  margin-top: calc(36 * 5rem + 50rem);
  animation: movingTitle infinite 0.7s alternate ease-in-out;
}

@keyframes train {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50.1%);
  }
}

@keyframes trainR {
  0% {
    transform: translateX(-50.1%);
  }

  100% {
    transform: translateX(0%);
  }
}

.tapeCont {
  width: 100%;
  overflow: hidden;
}

.tape {
  display: flex;
  width: max-content;

  animation: trainR 15s linear infinite reverse;
}

.tapeR {
  display: flex;
  width: max-content;

  animation: train 15s linear infinite reverse;
}

.movTitle {
  width: max-content;
  margin-top: 30rem;
  margin-bottom: 30rem;
}

.tapes {
  width: 100%;
}

@media (min-width: 50rem) {
  .startSection {
    width: 100%;
    height: 100%;
  }
}
