.startElem {
  height: 100vh;
  background: rgba(188, 235, 255, 1);
}

.startTitle {
  font-family: Seldom Scene;
  font-size: 64rem;
  color: rgba(0, 81, 255, 1);
  margin: 20rem;
}

.arrow {
  width: 128rem;
}

.logo {
  width: 100%;
}
